.chatContainer{
    overflow: auto;
    overflow-x: scroll;
    scroll-behavior: auto;
    padding: 30px;
    width: 100%;
    height:100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    background-image: url('/assets/imgs/patron.jpg');
}

.chatContainer::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
.chatContainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #202c33;
}
.chatContainer::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #2a3942;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

.local{
    padding: 6px 7px 8px 9px;
    border-radius: 10px;
    background-color: #005c4b;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-end;
}

.remoto{
    padding: 6px 7px 8px 9px;
    border-radius: 10px;
    background-color: #202c33;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-start;
}

.inputContainer{
    position: fixed;
    width: 100%;
    padding: 12px;
    bottom: 1px;
    background: #202c33;
}
input{
    width: 100%;
    background: #2a3942;
    border-radius: 8px;
    border: none;
    height: 40px;
    color: white;
    padding-left: 20px;
    outline: none;
    font-size: 18px;
}
input::placeholder { 
    color: #8696a0; 
}